<% objects.each do |object| %>
    <p>
        <% if object.class.method_defined?(:title) %>
            <strong><%= t('.title' )%>:</strong>
            <%= object.title %>
        <% else %>
            <strong><%= t('.number') %>:</strong>
            <%= object.number %>
        <%end%>
    </p>
    <p>
        <%= link_to t('common.show'), "#{objects.model.to_s.downcase}s/#{object.id}" %>
    </p>
<% end %>