<table class="object-list-table">
    <tr class="object-list-row">
        <th class="objext-list-cell"> 
            <strong><%= t(".#{attribute.to_s}" )%></strong>
        </th>
    </tr>

    <% objects.each do |object| %>
        <tr class="object-list-row">
            <td class="objext-list-cell">
                <div id="object_title_<%= object.id %>">
                    <%= object.method(attribute).call %>
                </div>
                <%= link_to '', class: "button-for-form", data: { object_id: object.id} do %>
                    <i class="bi bi-pencil-square"></i></span>
                <%end%>
                <%= bootstrap_form_for object, url: "#{link_word}/#{object.id}/inline_update", html: {style: "display: none"}, method: :PUT  do |f| %>
                    <%= f.text_field attribute%>
                    <%= f.submit t('common.edit') %>
                <% end %>
                <div class="cancel-button", id="cancel-button-object-<%= object.id %>">
                    <button class="btn btn-outline-primary"><%= t('.cancel') %></button>
                </div>
            </td>
            <td class="objext-list-cell">
                <div>
                    <%= link_to t('common.show'), "#{link_word}/#{object.id}", class: 'btn btn-outline-success' %>
                </div>
            </td>
            <td class="objext-list-cell">
                <div>
                    <%= link_to t('common.edit'), "#{link_word}/#{object.id}/edit", class: 'btn btn-outline-warning' %>
                </div>
            </td>
            <td class="objext-list-cell">
                <div>
                    <%= button_to t('common.destroy'), "#{link_word}/#{object.id}", method: :delete, class: 'btn btn-outline-danger' %>
                </div>
            </td>
        </tr>
    <% end %>
</table>
