<p style="color: green"><%= notice %></p>

<%= render @station %>

<div>
  <%= link_to "Edit this station", edit_admin_station_path(@station) %> |
  <%= link_to "Back to stations", admin_stations_path %>

  <%= button_to "Destroy this station", [:admin, @station], method: :delete %>
</div>
