<p style="color: green"><%= notice %></p>

<%= render @station %>

<div>
    <%= link_to t('common.edit'), edit_admin_station_path(@station), class: 'btn btn-outline-warning' %>
    <%= link_to t('common.back'), admin_stations_path, class: 'btn btn-outline-secondary' %>
    <%= button_to t('common.destroy'), [:admin, @station], method: :delete, class: 'btn btn-outline-danger' %>
</div>
