<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Ticket</h5>
    <p class="card-text"><%= @ticket.user.name%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Starts from <%= @ticket.first_station.title %> 
    at: <%= @ticket.train.route.routes_stations.first_station.first.departure_time.to_formatted_s(:long) %></li>
    <li class="list-group-item">Starts from <%= @ticket.last_station.title %>
    at: <%= @ticket.train.route.routes_stations.last_station.first.departure_time.to_formatted_s(:long) %></li>
    <li class="list-group-item">Train: <%= @ticket.train.number %></li>
  </ul>
</div>
