<li>
    <h4>Wagon <%= wagon.id %></h4>
    <p>Type: <%= wagon.wagon_type %></p>
    <p>Top seats: <%= wagon.top_seats_quantity %></p> 
    <p>Lower seats: <%= wagon.lower_seats_quantity %></p>
    <p>Train: <%= wagon.train.number %></p> 
    <span><%= link_to 'Edit', edit_wagon_path(id: wagon.id), class: 'btn btn-secondary' %></span>
    <span><%= link_to 'Show', wagon_path(id: wagon.id), class: 'btn btn-secondary' %></span>
    <span><%= button_to 'Delete', wagon_path(id: wagon.id), method: :delete, class: 'btn btn-secondary' %></span>
</li>