<ul>
    <li>Id: <%= route.id%></li>
    <li>Name: <%= route.title%></li>
    <li><%= route.created_at%></li>
    <%= render partial: 'included_object', locals: {objects: route.trains} %>
    <%= render partial: 'included_object', locals: {objects: route.stations} %>
</ul>
<%= button_to 'Delete', route_path(id: route.id), method: :delete, class: 'btn btn-light' %>
<%= link_to 'Edit', edit_route_path(id: route.id), class: 'btn btn-light' %>
<%= link_to 'Back to routes', routes_path, class: 'btn btn-light' %>
