<%= bootstrap_form_with(model: [:admin, train]) do |form| %>

  <div>
    <%= form.text_field :number %>
    <%= form.collection_select :route_id, Route.all, :id, :title%>
    <%= form.collection_select :current_station_id, Station.all, :id, :title%>
  </div>

  <div>
    <%= form.submit t('.submit', action: params[:action] == 'new' ? 'Створити' : 'Оновити') %>
  </div>
<% end %>
