<p style="color: green"><%= notice %></p>

<%= render @train %>
<% Wagon.subclasses.each do |cls| %>
    <% if @train.wagons.method(cls.to_s.delete_suffix('Wagon').downcase.to_sym).call.count > 0 %>
        <p><%= t(".#{cls.to_s.delete_suffix('Wagon').downcase}") %>: 
        <%= @train.wagons.method(cls.to_s.delete_suffix('Wagon').downcase.to_sym).call.count%></p>
    <% end %>
<% end %>

<h3><%= t('.seats') %>:</h3>

<% @seats.each do |key, val| %>
    <% if val > 0 %>
        <p><%= t(".#{key}_seats") %>: <%= val %></p>
    <%end%>
<%end%>

<h3><%= t('.wagons') %>:</h3>

<ul>
    <%@wagons.each do |wagon|%>
        <li><%=link_to wagon.order_number, admin_wagon_path(id: wagon.id)%></li>
    <%end%>
</ul>
<%= link_to t('.create_wagon'), new_admin_train_wagon_path(train_id: @train), class: 'btn btn-outline-success' %>
<div>
  <%= link_to t('common.edit'), edit_admin_train_path(@train), class: 'btn btn-outline-warning' %> 
  <%= link_to t('common.back'), admin_trains_path, class: 'btn btn-outline-secondary' %>

  <%= button_to t('common.destroy'), [:admin, @train], method: :delete, class: 'btn btn-outline-danger' %>
</div>
