<h1><%= t('.title') %></h1>

<ul>
    <% @wagons.each do |wagon| %>
        <li>
            <h4><%= t('.wagon') %>: <%= wagon.id %></h4>
            <p><%= t('common.type') %>: <%= t("wagon_types.#{wagon.type.delete_suffix('Wagon').downcase}") %></p>
            <p><%= t('.train_number') %>: <%= wagon.train.number %></p>
            <%= link_to t('common.show'), admin_wagon_path(wagon.id), class: 'btn btn-outline-success' %>
        </li>
    <% end %>
</ul>
