<%= bootstrap_form_for @wagon, url: admin_train_wagons_path(train_id: params[:train_id]), method: :POST do |f| %>
    <% @collection.each do |type| %>
        <%= f.radio_button :type, type.last, label: type.first %>
    <% end %>
    
    <div id="economy-and-coupe-class-seats">
        <div id="not-sleeping-class-seats">
            <%= f.text_field :top_seats_quantity %>
        </div>
            <%= f.text_field :lower_seats_quantity %>
        <div id="economy-class-seats">
            <%= f.text_field :side_top_seats_quantity %>
            <%= f.text_field :side_lower_seats_quantity %>
        </div>
    </div>
    <div id="seated-class-seats">
        <%= f.text_field :seated_seats_quantity %>
    </div>
    <%= f.hidden_field :train_id, value: params[:train_id] %>
    <%= f.submit t('.create') %>
<% end %>
